.App {
  max-width: 1170px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.header {
  border-bottom: 1px solid #e5e5e5;
}

.post-date {
  color: #6a737c;
  font-style: italic;
}

.post-date {
  color: #0c4c8b;
}

.votes-score {
  text-align: center;
  font-size: xx-large;
}

.votes-button {
  width: -webkit-stretch;
  background-color: transparent;
  border: none;
}